<h1 class="mt-4">Parceiros</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Consulta</li>
</ol>
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="alert alert-success" role="alert" *ngIf="mensagemSucesso">
                    {{ mensagemSucesso }}   
                </div>

                <div class="alert alert-danger" role="alert" *ngIf="mensagemErro">
                    {{ mensagemErro }}
                </div>
            </div>
        </div>

    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-warning" (click)="novoCadastro()" >
                <i class="fa fa-plus"></i>
                Novo
            </button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed table-hover">
                <thead> 
                    <tr>
                        <th>ID</th>
                        <th>Razao</th>
                        <th>Nome Fantasia</th>
                        <th>CNPJ</th>
                        <th>Email</th>
                        <th>EmailFinanceiro</th>
                        <th>CEP</th>
                        <!-- <th>Endereco</th>
                        <th>Numero</th>
                        <th>Bairro</th>
                        <th>Cidade</th>
                        <th>UF</th>
                        <th>Complemento</th>
                        <th>Celular</th>
                        <th>Telefone</th> -->
                        <th>
                            
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let parceiro of parceiros">
                        <td>{{ parceiro.id }}</td>
                        <td>{{ parceiro.razao }}</td>
                        <td>{{ parceiro.fantasia }}</td>
                        <td>{{ parceiro.cnpj }}</td>
                        <td>{{ parceiro.email }}</td>
                        <td>{{ parceiro.efinanceiro }}</td>
                        <td>{{ parceiro.cep }}</td>
                        <!-- <td>{{ parceiro.endereco }}</td>
                        <td>{{ parceiro.numero }}</td>
                        <td>{{ parceiro.bairro }}</td>
                        <td>{{ parceiro.cidade }}</td>
                        <td>{{ parceiro.uf }}</td>
                        <td>{{ parceiro.complemento }}</td>
                        <td>{{ parceiro.celular }}</td>
                        <td>{{ parceiro.telefone }}</td> -->
                        <td>
                            <button class="btn btn-primary" 
                                    routerLink="/parceiros/form/{{ parceiro.id }}">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button class="btn btn-danger" (click)="preparaDelecao(parceiro)"
                                    data-toggle="modal" data-target="#modaldelecao" >
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="modalDelecao" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Confirmação</h4>
                </div>
                <div class="modal-body" *ngIf="parceiroSelecionado">
                    Confirma a deleção do(a) {{ parceiroSelecionado.name }}?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" 
                            (click)="deletarParceiro()" data-dismiss="modal">Confirma</button>
                    <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>