<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Admin Master</div>
                <a class="nav-link" routerLink="/home"
                    ><div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard</a
                >
                <div class="sb-sidenav-menu-heading">Interface</div>
                <a class="nav-link collapsed" routerLink="/clientes/lista" 
                data-toggle="collapse" data-target="#collapseLayouts" 
                aria-expanded="false" aria-controls="collapseLayouts"
                    ><div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Clientes
                    </a>
                
                <a class="nav-link collapsed" routerLink="/parceiros" data-toggle="collapse" 
                data-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                    <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i>
                    </div>
                    Parceiros
                </a>
                <a class="nav-link collapsed" routerLink="/beneficios/form" 
                data-toggle="collapse" data-target="#collapseLayouts" 
                aria-expanded="false" aria-controls="collapseLayouts"
                    ><div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Beneficios
                    </a>
               
                <div class="sb-sidenav-menu-heading">Relatórios</div>
                
                    <a class="nav-link" href="tables.html"
                    ><div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Relatórios</a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logado como: </div>
            Loop +
        </div>
    </nav>
</div>