<div class="bg-primary">
    <div id="layoutAuthentication">
        <div id="layoutauthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header">
                                    <h3 class="text-center font-weight-light my-4">
                                        {{cadastrando ? 'Cadastro de novo usuário' : 'Entrar'}}
                                    </h3>
                                </div>
                                <div class="card-body">
                                    <!-- <div class="alert alert-success" *ngIf="mensagemSucesso">
                                        {{ mensagemSucesso }}
                                    </div> -->
                                    <!-- <div class="alert alert-danger">
                                       Esse estava no formulário -> #loginForm="ngForm"
                                    </div> -->
                                    <form [formGroup]="formGroup"   (ngSubmit)="loginProces()">
                                        
                                        <div class="form-group">
                                            <label class="small mb-1">Login</label>
                                            <input  type="text" formControlName="username" 
                                                    autocomplete="off" ([ngModel])="requestLogin.username"
                                                    class="form-control py-4"
                                                    placeholder="Digite seu login"/>
                                                    
                                        </div>
                                        <div class="form-group">
                                            <label class="small mb-1" *ngIf="cadastrando">E-mail</label>
                                            <input type="text" name="email"
                                                    [(ngModel)]="email"
                                                    class="form-control py-4"
                                                    placeholder="Digite seu melhor email"
                                                    *ngIf="cadastrando"/>
                                        </div>

                                        <div class="form-group">
                                            <label class="small mb-1">Senha</label>
                                            <input type="password" formControlName="password"
                                                    [(ngModel)]="requestLogin.password"
                                                    class="form-control py-4"
                                                    placeholder="Digite sua Senha"/>
                                        </div>

                                        <div class="form-group">
                                            <label class="small mb-1" *ngIf="cadastrando">Confirme sua Senha</label>
                                            <input type="password" name="password_confirmation"
                                                    [(ngModel)]="password_confirmation"
                                                    class="form-control py-4"
                                                    placeholder="Digite sua Senha"
                                                    *ngIf="cadastrando"/>
                                        </div>

                                        <div class="form-group aling-items-center 
                                        justify-content-between mt-4 mb-0" (click)="loginProces" >
                                            <button type="submit" class="btn btn-primary" *ngIf="!cadastrando">
                                                Entrar
                                            </button>

                                            <button type="button" class="btn btn-dark" 
                                                    (click)="cadastrar()"
                                                    *ngIf="cadastrando">
                                                Registrar
                                            </button>

                                            <button type="button" (click)="cancelaCadastro()"
                                            class="btn btn-danger ml-1" *ngIf="cadastrando">
                                                Cancelar
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center">
                                    <div class="small">
                                        <a href="#" (click)="preparaCadastrar($event)">
                                            Não possui conta? Cadastre-se!
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>